In [418]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from datetime import datetime, time

In [313]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
446,tt1228987,20000000,24145613,Let Me In,Kodi Smit-McPhee|ChloÃ« Grace Moretz|Richard J...,Matt Reeves,Innocence dies. Abby doesn't.,"This is a remake of the movie ""Let The Right O...",116,Drama|Horror|Mystery,Hammer Film Productions|EFTI|Exclusive Media G...,10/1/2010,6.6,2010
1463,tt0479143,24000000,155721132,Rocky Balboa,Sylvester Stallone|Burt Young|Milo Ventimiglia...,Sylvester Stallone,It ain't over 'til it's over.,When he loses a highly publicized virtual boxi...,102,Drama,Columbia Pictures|Revolution Studios|Rogue Mar...,12/20/2006,6.4,2006

In [311]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# Предобработка

In [470]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data['revenue'] - data['budget']
# для решения некоторых задач выделяем только прибыльные фильмы
data_profit = data[data['profit'] > 0]
# переводим столбец release_date в удобный формат
data['release_date'] = pd.to_datetime(data['release_date'])
# создаем столбец с месяцем выхода фильма
data['month'] = pd.DatetimeIndex(data['release_date']).month
# создаем доп датафреймы, где столбцы 'cast', 'director', 'genres', 'production_companies' 
# в удобном для вычислений формате
df_cast = data.assign(cast=data.cast.str.split('|')).explode('cast')
df_director = data.assign(director=data.director.str.split('|')).explode('director')
df_genres = data.assign(genres=data.genres.str.split('|')).explode('genres')
df_production_companies = data.assign(production_companies=data.production_companies.str.split('|')).explode('production_companies')

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [672]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723    Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [670]:
# выбираем из основного датафрейма название фильма с условием максимального бюджета:
data.original_title[data.budget == data.budget.max()]

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [30]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [673]:
answers['2'] = '1157    Gods and Generals'

In [674]:
# то же самое, только меняем условие на соответствующее заданию
data.original_title[data.runtime == data.runtime.max()]

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [14]:
data.original_title[data.runtime == data.runtime.min()]

768    Winnie the Pooh
Name: original_title, dtype: object

In [675]:
answers['3'] = '768    Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [510]:
data.runtime.mean()

109.6585494970884

In [676]:
answers['4'] = '110'

# 5. Каково медианное значение длительности фильмов?

In [21]:
data.runtime.median()

107.0

In [677]:
answers['5'] = '107.0'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [31]:
# в решении используем созданный в предобработке столбец "profit"
data.original_title[data.profit == data.profit.max()]

239    Avatar
Name: original_title, dtype: object

In [678]:
answers['6'] = '239    Avatar'

# 7. Какой фильм самый убыточный?

In [35]:
data.original_title[data.profit == data.profit.min()]

1245    The Lone Ranger
Name: original_title, dtype: object

In [679]:
answers['7'] = '1245    The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [333]:
len(data.profit[data.profit > 0])

1478

In [680]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [682]:
# находим максимальное значение кассовых сборов за 2008 год
c = data.revenue[data.release_year == 2008].max()
# выводим фильм соответствуюший найденному значению
data.original_title[data.revenue == c]

599    The Dark Knight
Name: original_title, dtype: object

In [683]:
answers['9'] = '599    The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [685]:
# аналогично предыдущему заданию  
c = data.profit[(data.release_year > 2011) & (data.release_year < 2015)].min()
data.original_title[data.profit == c]

1245    The Lone Ranger
Name: original_title, dtype: object

In [686]:
answers['10'] = '1245    The Lone Ranger'

In [687]:
# то же самое в одну строчку:
data.original_title[data.profit == data.profit[(data.release_year > 2011) & (data.release_year < 2015)].min()]

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [689]:
# для решения используем датафрейм "df_genres" (создан в предобработке) 
# с помощью "value_counts" считаем кол-во фильмов в каждом жанре и выводим первую строку
df_genres.genres.value_counts().head(1)

Drama    782
Name: genres, dtype: int64

In [692]:
answers['11'] = 'Drama    782'

ВАРИАНТ 2

In [691]:
# очень понравилось это решение 
genre_max = Counter()
for x in data.genres.str.split('|'):
    genre_max += Counter(x)
genre_max.most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [706]:
# другими словами у какого жанра больше всего прибыльных фильмов
# прибыльные фильмы выделены в отдельный датафрейм "data_profit"(в предобработке) 
# разделяем столбец "genres" и дальше аналогично предыдущей задаче
pd.Series((data_profit.genres.str.split('|').sum())).value_counts().head(1)

Drama    560
dtype: int64

In [705]:
answers['12'] = 'Drama    560'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [707]:
# здесь удобно работать с датафреймом "df_director" (создан в предобработке)
# группируем по режиссерам с суммой кассовых сборов, сортируем по убыванию и выводим первую строку
df_director.groupby(['director'])['revenue'].sum().sort_values(ascending=False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

In [708]:
answers['13'] = 'Peter Jackson    6490593685'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [719]:
# создаем датафрейм "df_action" из "df_genres", оставив только жанр "Action"
df_action = df_genres[df_genres.genres == 'Action']
# создаем еще 1 датафрейм, где разделяем колонку с режиссерами  
df_director_action = df_action.assign(director=df_action.director.str.split('|')).explode('director')
# выводим количество фильмов по режиссерам, сортируем по убыванию и оставляем первую строку
df_director_action.groupby(['director'])['original_title'].count().sort_values(ascending=False).head(1)

director
Robert Rodriguez    9
Name: original_title, dtype: int64

In [711]:
answers['14'] = 'Robert Rodriguez    9'

In [ ]:
# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [805]:
# из датафрейма "df_cast" (создан в предобработке) выделяем фильмы 2012 года
df_cast_2012 = df_cast[df_cast.release_year == 2012]
# группируем по актерам, сортируем по убыванию кассовых сборов и выводим строку 1
df_cast_2012.groupby(['cast'])['revenue'].sum().sort_values(ascending=False).head(1)

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

In [718]:
answers['15'] = 'Chris Hemsworth    2027450773'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [723]:
# выделяем фильмы, бюджет которых выше среднего из датафрейма "df_cast"
df_high_budget = df_cast[df_cast.budget > df_cast.budget.mean()]
# дальше уже известным способом:
df_high_budget.groupby(['cast'])['original_title'].count().sort_values(ascending=False).head(1)

cast
Matt Damon    18
Name: original_title, dtype: int64

In [724]:
answers['16'] = 'Matt Damon           18'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [727]:
# создаем датафрейм "df_cast_genres" со столбцами 'cast' и 'genres' готовыми к дальнейшей обработке
df_cast_genres = df_cast.assign(genres=df_cast.genres.str.split('|')).explode('genres')
# выбираем нужного актера и считаем по количеству жанров
df_cast_genres[df_cast_genres.cast == 'Nicolas Cage']['genres'].value_counts().head(1)

Action    17
Name: genres, dtype: int64

In [728]:
answers['17'] = 'Action    17'

# 18. Самый убыточный фильм от Paramount Pictures

In [730]:
# выбираем киностудию Paramount Pictures из датафрейма "df_production_companies" (создан в предобработке)
df_PP = df_production_companies[df_production_companies.production_companies == 'Paramount Pictures']
# дальше как в задаче № 6
df_PP.original_title[df_PP.profit == df_PP.profit.min()]

925    K-19: The Widowmaker
Name: original_title, dtype: object

In [731]:
answers['18'] = 'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [647]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

In [603]:
answers['19'] = '2015    25449202382'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [764]:
# собираем все упоминания "Warner" в отдельный датафрейм "data_wb" 
data_wb = data[data.production_companies.str.contains('Warner', na=False)]
# и привычным способом:
data_wb.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

In [766]:
answers['20'] = '2014    2295464519'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [754]:
# создаем серию по колонке "month" с количеством фильмов
films_by_month = data['month'].value_counts()
# и выводим по индексу первое значение
films_by_month.index[0]

9

In [734]:
answers['21'] = '9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [736]:
# обращаемся к серии из предыдущего задания и выводим сумму по месяцам № 6,7,8
films_by_month[[6, 7, 8]].sum()

450

In [737]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [738]:
# выделяем из датафрейма "df_director" фильмы, вышедшие в зимние месяцы (1,2,12) и считаем их количество по режиссерам. выводим первую строку
df_director[(df_director.month == 1)|(df_director.month == 2)|(df_director.month == 12)]['director'].value_counts().head(1)

Peter Jackson    7
Name: director, dtype: int64

In [739]:
answers['23'] = 'Peter Jackson    7'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [803]:
# создаем пустой список, в который будем записывать длину названий фильмов 
list_lenght = []
# из датафрейма df_production (создан в предобработке) выделяем серию с названиями фильмов
pd = df_production_companies['original_title']
# запускаем цикл для заполнения нашего списка
for i in pd:
    list_lenght.append(len(i))
# создаем новый столбец в датафрейме с длиной названий фильмов
df_production_companies['original_title_lenght'] = list_lenght
# теперь группируем датафрейм по киностудиям с усредненной длиной названий фильмов, сортируем по убыванию и выводим первую строку
df_production_companies.groupby(['production_companies'])['original_title_lenght'].mean().sort_values(ascending=False).head(1)

production_companies
Four By Two Productions    83.0
Name: original_title_lenght, dtype: float64

In [662]:
answers['24'] = 'Four By Two Productions    83.0'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [808]:
list_words = []
# создаем серию с разделителем "пробел"
pd = df_production_companies.overview.str.split(' ')
# в цикле считаем кол-во слов и получаем заполненный список "list_word"
for i in pd:
    list_words.append(len(i))
# создаем новый столбец в датафрейме с кол-вом слов в описании фильмов
df_production_companies['overview_list_word'] = list_words
# тут как в предыдущей задаче
df_production_companies.groupby(['production_companies'])['overview_list_word'].mean().sort_values(ascending=False).head(1)

production_companies
Midnight Picture Show    175.0
Name: overview_list_word, dtype: float64

In [806]:
answers['25'] = 'Midnight Picture Show    175.0'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [462]:
data.loc[data['vote_average']>data.quantile(0.99, numeric_only=True)['vote_average']]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

In [742]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [664]:
list_cast = []
for actors in data.cast.str.split('|'):
    list_cast.append(actors)
import collections
import itertools
counts = collections.defaultdict(int)
for actor in list_cast:
    actor.sort()
    for pair in itertools.combinations(actor, 2):
        counts[pair] += 1
for pair, freq in counts.items():
    if freq > 5:
        print(pair, freq)

('Ben Stiller', 'Owen Wilson') 6
('Daniel Radcliffe', 'Emma Watson') 8
('Daniel Radcliffe', 'Rupert Grint') 8
('Emma Watson', 'Rupert Grint') 8
('Helena Bonham Carter', 'Johnny Depp') 6

In [750]:
answers['27'] = 'Daniel Radcliffe', 'Rupert Grint'

ВАРИАНТ 2

# Submission

In [751]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'11': 'Drama    782',
 '12': 'Drama    560',
 '13': 'Peter Jackson    6490593685',
 '15': 'Chris Hemsworth    2027450773',
 '14': 'Robert Rodriguez    9',
 '16': 'Matt Damon           18',
 '10': '1245    The Lone Ranger',
 '9': '599    The Dark Knight',
 '17': 'Action    17',
 '18': 'K-19: The Widowmaker',
 '19': '2015    25449202382',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson    7',
 '24': 'Four By Two Productions    83.0',
 '2': '1157    Gods and Generals',
 '1': '723    Pirates of the Caribbean: On Stranger Tides',
 '3': '768    Winnie the Pooh',
 '4': '110',
 '5': '107.0',
 '6': '239    Avatar',
 '7': '1245    The Lone Ranger',
 '8': '1478',
 '26': ('Daniel Radcliffe', 'Rupert Grint'),
 '27': ('Daniel Radcliffe', 'Rupert Grint')}

In [809]:
# и убедиться что ни чего не пропустил)
len(answers)

27